/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Utils */

.container{
    width:100%;
    max-width: 1080px;
    margin: 0 auto;
}

body {
    background-color: aquamarine;
}

header {
    height: 10vh;
    padding: 0 20px;
    line-height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#score {
    font-size: 30px;
}

.btn {
    width: 80px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid gray;
}


#grid {
    min-width: 600px;
    min-height: 80vh;
    margin: auto 150px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}


#grid .cell{
   
    padding: 30px 5px;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell.clicked {
    cursor: not-allowed;
    background-color: blue;
}

footer {
    height: 10vh;
    padding: 0 20px;
    line-height: 70px;
    background-color: white;
}